<!DOCTYPE html>
<html>

<head lang="en">
  <meta charset="UTF-8">
  <title>AssetXplor</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="apple-mobile-web-app-capable" content="yes">
</head>

<body>
  <main role="main" id="root" >
    <!-- Sidebar -->
    <button type="button" class="sidebar-button" id="sidebar-button" aria-label="Toggle sidebar"></button>
    <div class="sidebar" id="sidebar">
      <div class="sidebar-menu">
       <a href="{{ path('see_it_allasset_xplor_locations') }}" class="sidebar-menu-item " alt="Location">Back to levels
          
        </a>
       
        <a href="#" class="sidebar-menu-item on " alt="Building">
            Documents </a>
      </div>
      <div class="sidebar-footer">
        <a href="#" class="sidebar-footer-item overview" alt="Overview">Overview</a>
        <a href="#" class="sidebar-footer-item settings" alt="Settings">Settings</a>
        <a href="#" class="sidebar-footer-item help" alt="Help">Help</a>
        <div class="sidebar-footer-copy">&copy; 2018 AssetXplor ver. 0.0.1</div>
      </div>
    </div>


    

    <!-- Body -->
    <div class="body">

      <div class="body-header">
        <form class="body-header-name" method="GET" action="/app.html">

        </form>
        <button id="button-add-images" type="button" aria-label="Add Images" class="button body-header-add-images"> document</button>
        <button class="button body-header-camera" type="button" id="button-camera" aria-label="Scan QR"></button>
      </div>

      <div class="body-notes">{{building.getNote}}</div>


      <div class="body-url">
        <input readonly type="text" id="body-url" value="{{ app.request.uri }}" />
        <button type="button" class="button body-url-copy" id="button-copy-url" aria-label="Copy URL" data-clipboard-target="#body-url">Copy URL</button>
        <button type="button" class="button body-url-qr" id="button-qr" aria-label="Get QR-code" data-target="#body-url">Get QR-code</button>
      </div>

     
              <div class="image-map-container">
        <div id="main-image" class="main-image" data-pdf="http://www.assetxplor.nl/app/Symfony/web/">
                  <div class="main-image-inner">
            <img src="{{ asset( building.getBuildingImage ) }}" />
            <button type="button" class="main-image-button more" aria-label="More"></button>
          </div>
        </div>
       
      </div>


      

      <!-- Body > Frame Images -->
      <div class="body-image-list" id="image-list">

         {% for doc in docs %}

        <div class="image-item" 
         data-image='assets/tmp/PDF.JPG'
         data-name="{{ asset('assets/tmp/pdf.jpg') }}"
         data-remove="{{ path('see_it_allasset_xplor_remove_buildings_docs', {   'document_id': doc.getId , 'building_id': building.getId }) }}"
         data-pdf="{{ path('see_it_allasset_xplor_buildings_docs', {'building_id': building.getId }) }}"
         >
          <div class="image-item-image">

            <img src="{{asset('assets/tmp/pdf.jpg') }}" alt="Building 1" />
            <a href="{{asset(doc.getPath)}}" target="_blank" class="image-item-button enter" title="Open the pdf"></a>
            <button type="button" class="image-item-button more" aria-label="More"></button>

          </div>

          <div class="image-item-label">
            {{ doc.getpdfName }}
            <span class="badge location">1</span>
            <span class="badge building">{{ building.getIdasset}}</span> 
          </div>
        </div>
          {% endfor %}
    </div>
    <!--- End of the body -->



    <!-- Add images popup -->
          <div class="add-images-container" id="add-images-container">
         {{ form_start(form_saveDoc, {'attr' : {'class' :'add-images-form'}}) }}
          <h1>Add Document</h1>
          {{ form_widget(form_saveDoc.file) }} 
          <label for="add-images-input-note">Note
            {{ form_widget(form_saveDoc.note, { 'attr': {'placeholder': 'Enter note', 'maxlength': '50', 'name': 'note', 'id' : 'add-image-input-note', 'value' : '-' } }) }}
          </label>
          <div class="button-group">
            <button type="button" id="add-images-cancel" class="button">Cancel</button>
        {{ form_widget(form_saveDoc.save,  { 'attr': {'class' : 'button-blue'} })  }}
        {{ form_end(form_saveDoc) }}
          </div>
        
      </div>


    <!-- Save image popup -->



    <!-- Grid Editor popup -->



  <noscript>
    <h3 style="text-align: center; margin: 40px;">To use AssetXplor, please enable JavaScript.</h3>
  </noscript>
  
<script src="{{ asset('bundles/seeitallassetxplore/js/app.bundle.js') }}" ></script>
<script src="{{asset('bundles/seeitallassetxplore/js/editor.bundle.js') }}"></script>
<script src="{{ asset('bundles/seeitallassetxplore/js/vendors~editor.bundle.js') }}"></script>
<script src="{{ asset('bundles/seeitallassetxplore/js/qrcode.bundle.js') }}"></script>
<script src="{{ asset('bundles/seeitallassetxplore/js/vendors~qrcode.bundle.js') }}"></script>

</body>

</html>
