{% extends "::assetXplor.html.twig" %}


 {% block levels %}
      <div class="sidebar-menu">
        <a href="{{ path('see_it_allasset_xplor_level0') }}" class="sidebar-menu-item on" alt="Object">Level 0</a>
        <a href="#" class="sidebar-menu-item " alt="Level 0">Level 1</a>  
        <a href="#" class="sidebar-menu-item  " alt="Building">Level 2</a>
        <a href="#" class="sidebar-menu-item" alt="Room">Level 3</a>
        <a href="#" class="sidebar-menu-item" alt="Object">Level 4</a>
      </div>
    {% endblock %}


{% block body %}
    <!-- Body -->
    <div class="body">

      <div class="body-header">
        <form class="body-header-name" method="GET" action="/app.html">
          <input type="text" name="location-name" value="Location Name" maxlength="50" required class="input" />
          <button type="submit" aria-label="Save" class="button">Save</button>
        </form>
        <button id="button-add-images" type="button" aria-label="Add Images" class="button body-header-add-images"> Location</button>
        <button class="button body-header-camera" type="button" id="button-camera" aria-label="Scan QR"></button>  
      </div>

      <div class="body-notes">Note: We work with one location</div>

      <div class="body-url">
        <input readonly type="text" id="body-url" value="{{ app.request.uri }}" />
        <button type="button" class="button body-url-copy" id="button-copy-url" aria-label="Copy URL" data-clipboard-target="#body-url">Copy URL</button>
        <button type="button" class="button body-url-qr" id="button-qr" aria-label="Get QR-code" data-target="#body-url">Get QR-code</button>
      </div>

      <div class="image-map-container">
        <div id="main-image" class="main-image" data-pdf="http://www.assetxplor.nl/app/Symfony/web/">
                  <div class="main-image-inner">
            <img src="{{ asset('assets/tmp/netherland.jpg') }}" />
            <button type="button" class="main-image-button more" aria-label="More"></button>
          </div>
        </div>

      <!-- Body > Main Map -->
        <div class="main-map">
          <div id="main-map-container" class="main-map-container">
            <img src="{{asset('assets/tmp/dutch_map.jpg') }}" />
  
          </div>

        </div>
      </div>

      <!-- Body > Frame Images -->
      <div class="body-image-list" id="image-list">

       {% for level0 in level0_assets %}

        <div class="image-item" 
         data-image="{{ asset(level0.getlevel0Image) }}"
         data-name="{{ level0.getlevel0Name }}"
         data-remove="{{ path('see_it_allasset_xplor_remove_level0', {'level0_id': level0.getId }) }}"
         data-pdf="{{ path('see_it_allasset_xplor_level0_docs', {'level0_id': level0.getId }) }}"
         data-pin="{{ level0.getDataLoc }}">
          <div class="image-item-image">

            <img src="{{asset(level0.getlevel0Image) }}" alt="level0 1" />
            <a href="{{ path('see_it_allasset_xplor_level1', {'level0_id': level0.getId }) }}" class="image-item-button enter" title="Navigate to the next level"></a>
            <button type="button" class="image-item-button more" aria-label="More"></button>

          </div>

          <div class="image-item-label">
            {{ level0.getlevel0Name }}
            <span class="badge location">1</span>
            <span class="badge level0">{{ level0.getIdasset}}</span> 
          </div>
        </div>

          {% endfor %}

        
    </div>

    {% endblock %}

     
     {% block PinEeditor %} 
     {% for level0 in level0_assets %}
     <!-- Pin Editor popup -->
    <div class="pin-editor" id="pin-editor">
      <form class="pin-editor-form" method="GET" action="{{ path('see_it_allasset_xplor_level0_loc', {'level0_id': level0.getId}) }}" >
        <h1 id="pin-editor-header">Pin Editor</h1>
        <input type="hidden" id="pin-editor-input" name="pin-data" value="" />
        <div class="pin-editor-container" id="pin-editor-container">
          <div class="map-pin" id="pin-editor-pin"></div>
            <img class="pin-editor-image" src="{{asset('assets/tmp/dutch_map.jpg') }}" />  
        </div>
        <div class="button-group">
          <button type="button" id="pin-editor-cancel" class="button">Cancel</button>
          <button   type="submit" class="button-blue">Save</button>
        </div>
      </form>
    </div>
     {% endfor %}
    {% endblock %}